<a href="https://colab.research.google.com/github/WISSAL-MN/machine-learning/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'https://github.com/WISSAL-MN'

'https://github.com/WISSAL-MN'

### Python contient un grand nombre de fonctions intégrées tres utiles a connaitre. Cela vous permet de construire des codes plus rapidement, sans avoir a développer vos propres fonctions pour les taches les plus basique. Dans ce notebook, je vous montre les plus importantes :




*   Fonctions de bases : abs(), round(), max(), min(), len(), sum(), any(),all()
*   Conversions de types de variables: int() str(), float(), type()
*   Conversions de structures de données: list(), tuple()
*  Conversions binaires (moins utile en machine learning): bin(), oct(), hex()
*  Fonction input()
*  Fonction format() (f-string)
*   Fonction open()

# **1. Fonction de bases**

In [2]:
x = -3.14
print(abs(x)) # valeur absolue
print(round(x)) # arrondi

3.14
-3

In [3]:
liste = [-2, 3, 1, 0, -4]

print(min(liste)) # minimum
print(max(liste)) # maximum
print(len(liste)) # longueur
print(sum(liste)) # somme des éléments

-4
3
5
-2

In [4]:
liste = [False, False, True]

print(any(liste)) # y-a-t'il au moins un élément True ?
print(all(liste)) # est-ce-que tous les éléments sont True ?

True
False

# 2. Fonction de conversion
Il peut etre tres utile de convertir une variable d'un type a un autre (par exemple pour faire des calculs). Pour cela, on dispose des fonctions int(), str() et float().

La fonction type() est tres utile pour inspecter les types de nos variables

In [5]:
age = '20'
type(age)

str

In [6]:
age = int(age)
type(age)

int

In [7]:
age + 10

30

In [8]:
tuple_1 = (1, 2, 3, 4)

liste_1 = list(tuple_1) # convertir un tuple en liste

type(liste_1)

list

On peut également convertir des listes en tuples, ou des tableaux Numpy en list ...

# **3. La fonction input()**

In [14]:
age = input('quel age avez-vous ?')

quel age avez-vous ?20

In [15]:
type(age) # age est de type string. il faut penser a le convertir si on désire faire un calcul avec

str

# **4. La fonction format()**
cette fonction permet d'insérer la valeur d'une variable au sein d'une chaine de cacacteres (string).

Une méthode plus rapide pour utiliser cette fonction est de faire appel au **f-string**

In [12]:
x = 25
ville = 'Paris'

message = 'il fait {} degrés a {}'.format(x, ville)
print(message)

il fait 25 degrés a Paris

In [13]:
message = f'il fait {x} degrées a {ville}'
print(message)

il fait 25 degrées a Paris

# 5. La fonction open()**texte en gras**


1. le mode 'r' : lire un fichier de votre ordinateur
2. le mode 'w' : écrire un fichier sur votre ordinateur
3. le mode 'a' : (append) ajouter du contenu dans un fichier existant

In [9]:
f = open('text.txt', 'w') # ouverture d'un objet fichier f
f.write('hello')
f.close() # il faut fermer notre fichier une fois le travail terminé

In [10]:
f = open('text.txt', 'r')
print(f.read())
f.close()

hello